.btn-pink {
    background-color: #ff69b4; /* Розовый цвет в формате HEX */
    border-color: #ff69b4; /* Цвет обводки кнопки */
    color: #ffffff; /* Цвет текста кнопки (белый) */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    font-size: 16px; /* Размер шрифта текста кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Изменение формы указателя при наведении */
}